/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    background-color: #28a745; /* Cor de fundo verde */
    color: #333;
    line-height: 1.6;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff; /* Fundo branco para contraste */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}

img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
}
